---
import Layout from "../layouts/Layout.astro"
import perImage from '../assets/flores1.png';
import perImage2 from '../assets/cusenier.jpeg';
import perImage5 from '../assets/cusenier4.jpg';
import perImage6 from '../assets/cusenier5.jpg';
import perImage7 from '../assets/flores2.png';
import perImage8 from '../assets/cusenier2.jpeg';
import { Image } from 'astro:assets';
---

<Layout title="Gallery | Gerardo Tamayo">
    <div class="grid grid-cols-1 md:grid-cols-3 auto-rows-auto p-5 gap-4 mt-24 md:mt-16">
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage2} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage8} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage5} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage6} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
        <div class="relative overflow-hidden bg-cover bg-no-repeat rounded-lg">
            <Image src={perImage7} alt="..." class="w-full h-full object-cover rounded-lg transition duration-300 ease-in-out hover:scale-110"></Image>
        </div>
    </div>
</Layout>